.profileContainer {
   display: flex;
   height: 100vh;
   width: 100vw;
   max-width: 100%;
   position: fixed;
   top: 0%;
   left: 0%;
   background-color: white;
}

.profileContainer > div {
   display: flex;
   height: 100vh;
   width: 100vw;
   max-width: 100%;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.profileContainer > div:first-child > h1 {
   color: rgba(0, 0, 0, 0.555);
   font: 500 2.2vmax "Roboto";
   transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
   width: 20vmax;
   border-radius: 100%;
   transition: all 0.5s;
}

.profileContainer > div:first-child > img:hover {
   transform: scale(1.05);
}

.profileContainer > div:first-child > a {
   border: none;
   font: 400 1vmax "Roboto";
   background-color: tomato;
   color: white;
   transition: all 0.5s;
   text-decoration: none;
   text-align: center;
   margin: 4vmax;
   width: 30%;
   padding: 0.5vmax;
}

.profileContainer > div:first-child > a:hover {
   background-color: rgb(204, 78, 56);
}

.profileContainer > div:last-child {
   justify-content: space-evenly;
   box-sizing: border-box;
   padding: 5vmax;
   align-items: start;
}

.profileContainer > div:last-child > div > h4 {
   color: black;
   font: 400 1.2vmax "Roboto"; 
}

.profileContainer > div:last-child > div > p {
   color: rgba(0, 0, 0, 0.418);
   margin: 0.2vmax;
   font: 400 1vmax cursive;
}

.profileContainer > div:last-child > div:last-child {
   display: flex;
   flex-direction: column;
   width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
   border: none;
   background-color: rgb(68, 68, 68);
   text-align: center;
   padding: 0.5vmax;
   text-decoration: none;
   color: white;
   font: 400 1vmax "Roboto";
   transition: all 0.5s;
   margin: 1vmax 0;
}

.profileContainer > div:last-child > div:last-child > a:hover {
   background-color: rgb(31, 31, 31);
}

@media screen and (max-width: 600px) {
   .profileContainer {
      flex-direction: column;
   }

   .profileContainer > div:first-child > h1 {
      font: 500 3.2vmax "Roboto";
      transform: translateY(-2vmax);
   }

   .profileContainer > div:first-child > a {
      font: 400 1.7vmax "Roboto";
      padding: 1vmax;
   }

   .profileContainer > div:last-child {
      text-align: center;
      align-items: center;
   }

   .profileContainer > div:last-child > div > h4 {
      font: 400 2.5vmax "Roboto";
   }

   .profileContainer > div:last-child > div > p {
      font: 400 2vmax cursive;
      margin: 0.5vmax 0;
   }

   .profileContainer > div:last-child > div:last-child > a {
      font: 400 1.8vmax "Roboto";
      padding: 1vmax;
      margin: 2vmax 0;
   }
}
