.shippingContainer {
  width: 100vw;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shippingBox {
  height: 90vh;
  width: 25vw;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.shippingHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.664);
  margin: auto;
  width: 50%;
  font: 400 1.3vmax "Roboto";
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 1.3vmax;
}

.shippingForm {
  display: flex;
  transition: all 0.5s;
  height: 80%;
  justify-content: space-evenly;
  padding: 2vmax;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

.shippingForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.shippingForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  font: 300 0.9vmax cursive;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-sizing: border-box;
}

.shippingForm > div > select {
   padding: 1vmax 4vmax;
  padding-right: 1vmax;
  font: 300 0.9vmax cursive;
  outline: none;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-sizing: border-box;
}

.shippingForm > div > svg {
   position: absolute;
   font-size: 1.6vmax;
   color: rgba(0, 0, 0, 0.623);
   transform: translateX(1vmax);
}

.shippingBtn {
   border: none;
   background-color: tomato;
   margin: 2vmax;
   color: white;
   transition: all 0.5s;
   outline: none;
   cursor: pointer;
   padding: 1vmax;
   width: 100%;
   font: 300 1vmax "Roboto";
}

.shippingBtn:hover {
   background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
   .shippingBox {
      width: 100vw;
      height: 95vh;
   }

   .shippingHeading {
      font: 400 6vw "Roboto";
      padding: 5vw;
   }

   .shippingForm {
      padding: 11vw;
   }

   .shippingForm > div > input,
   .shippingForm > div > select {
      padding: 5vw 10vw;
      font: 300 4vw cursive;
   }

   .shippingForm > div > svg {
      font-size: 6vw;
      transform: translateX(3vw);
   }

   .shippingBtn {
      font: 300 4vw "Roboto";
      padding: 4vw;
   }
}

